/*
	CSS Syntax
	selector{
	propertyA:  valueA;
	propertyB:  valueB;
	}


*/

/*
	* - universal selector; it selects all elements in the webpage
	font-family="Courier New", monospace;
		it sets the font to be used by the browser which is Courier New. Since this 
		specific font does not exist in all browsers,"monospace" gives the browser an 
		option to use if Courier New is not existing.
	font-size - sets the font size to be specified measurement.
		px - measurement; pixels.
*/

*{
	font-family: "Courier-New", monospace;
	font-size: 20px;
}

/*
	HTML selector - used to select all elements inside the html tag.
*/

html{
	/*modifies the scroll behavior when navigating through the page*/
	scroll-behavior: smooth;
}

/*	
	body selector - selects all element inside the body tag
	background-color - modifies the background color of the elements inside the selector
*/
body{
	background-color:  skyblue;
}

nav{
	background-color: white;
}

/*
	first selector ">" second selector - child selector; allows selection of the child of the first selector
	
	dislay:  inline-block; sets the display of the element into inline-block.
		inline-block - makes the element inline with its siblings, but still block outside its parent element.
	
	float - changes the horizontal alignment of the element and sets it on the specified location/position.
		in this codebase, the div will be positioned on the right of the the page.
*/
nav > div{
	display: inline-block;
	float: right;
}

/*tag selector*/
h1{
	/*
		!important - overrides/disregards the ranking of priority and makes the property the priority.
		rem - root element measurement; html tag is the root element. by default, rem = 16px 
		computation:  (n*rem) = 32 pixels.
	*/
	color: red !important;
	font-size: 2rem;
	text-align: center;
}

section{
	/*
		height - modifies the height of the element.
		vh - viewport height; 
	*/
	height: 100vh;
	text-align: center;
}

h2{
	font-size: 1.5rem;
}

ol{
	list-style-type: none;
}

/*
	selector:hover - changes the style of the element once the cursor hovers it.;
*/

a:hover{
	background-color: #b4d6de;
}

/*
	ID Selectors
	#idName{
		property: value;
	}
*/
#zuitt-moto{
	letter-spacing: 5px;
	font-size: 30px;
}

/*
	class selectors
		.className{
			property:  value;
		}
*/

.offered-items{
	/*text-transform - changes the casing of the text element*/
	text-transform: uppercase;
}

/*
	attribute selector
		tag[attribute]{
			property: value;
		}
*/

input[required][autocomplete]{
	border-width: 2px;
	border-style: solid;
	border-color: yellow;
}

/*Combination Selectors*/

/*
	adjacent sibling selector - selects the sibling directly after the first selector. both 
		selectors dont have to belong to the same type(tag, id, class could also be used.)
	firstSelector + secondSelector{
		property: value;
	}
*/

h3 + #image{
	height: 300px;
	width: 300px;
	/*border radius - rounds corner of the element*/
	border-radius: 150px;
}

/*
	descendant selector -
		firstSelector descendant{
			property: value;
		}
*/
/*
	section > ol > li same as descendant selector
*/

section li{
	color: #075966;
}

/* 
	general sibling selector - selects the sibling element that comes after the first element
		firstSelector ~ generalSibling
*/

h2 ~ a{
	/*
		text-decoration - changes the decoration of the text, usually lining the text.
			other values:  overline, line-through, underline;
	*/
	text-decoration: line-through;
}

form{
	color: rgb(0,0,128);
	text-align: center;
	background-color: white;
	/*shorthand for modifying the border*/
	width: 25vw;
	/*vw - the measurement of the width of the user's monitor*/
	border: 2px solid black;
	/*position - dictates the position of the element
		have the exact measurement with regards to the position of the element
		relative - makes the position of the element relative to its direction*/
	position: relative;
	left: 37.25%;
}

button{
	color: white;
	background-color: #CF0053;
	border: 0;
	border-radius: 15px;
}