*{
	font-family: "Arial", monospace;
	font-size: 18x;
}

p[id]{
	color: #fffdb9;
}

h1{
	font-size: 50px;
}

#thingslearned{
	text-transform: uppercase;
}

.languageslist{
	background-color: #aed0a1;
}

li[id]{
	border-width: 2px;
	border-style: solid;
	border-color: #a6bad5;
}

img + ol{
	list-style-type: none;
}

body > ol > li{
	letter-spacing: 5px;
}

body img{
	height: 100px;
	width: auto;
	border-radius: 100px;
}

ol ~ p{
	text-align: center;
	color: black;
}